*{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}

/* Search bar */
.search-bar{
    color: #e4e6e9;
    border: 1px solid;
    border-radius: 20vh;
    display: flex;
    width: 581px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.search-bar:hover{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.search-bar input{
    height: 34px !important;
    width: 487px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    border: none;
    outline: none;
}

/* Search bar icons */
.search-bar #search-icon{
    padding: 0 13px 0 0;
}

.search-bar #voice-search{
    padding: 0 2px 0 5px;
    border: transparent;
    background: white;
}


/* Submit Buttons */
.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submit-btn button{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit-btn button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
