*{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    
}
body{
    margin:0;
}
/* Search bar */
.search-bar{
    color: #e4e6e9;
    border: 1px solid;
    border-radius: 20vh;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.search-bar:hover{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.search-bar:focus-within{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-bar input{
    height: 34px !important;
    width: 30rem;
    font: 16px arial,sans-serif;
    line-height: 34px;
    border: none;
    outline: none;
    /* border: solid black; */
}

/* Search bar icons */
.search-bar #search-icon{
    padding-left: 10px;
}

.search-bar #voice-search{
    margin-right: 5px;
    padding-top: 5px;
    border: transparent;
    border-radius: 50px;
    background: white;
}


/* Submit Buttons */
.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.submit-btn button{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit-btn button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8; 
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 10vh;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li{
    float: left;
}
header a{
    font-size: 13px;
    display: block;
    padding:10px;
    
    text-decoration: none;
    color:rgba(0,0,0,0.70);
}

header #about-nav{
    padding-left: 15px;
    padding-top: 10px;
}

header #gapps-nav{
    padding-right: 15px;
    padding-top: 10px;
}

header #gapps-btn{
    margin: 5px 0px 0px 0px;
    
}

header #signin-btn{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #f2f2f2;
    line-height: 40px;
    width: 100vw;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li{
    float: left;
}
footer a{
    font-size: 13px;
    display:inline-block;
    padding-left: 27px;
    text-decoration: none;
    color:rgba(0,0,0,0.70);
}
footer #privacy-nav{
    padding-right: 25px;
}

@media screen and (max-width: 600px){
    .search-bar input{
        width: 70vw;
    }
   footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   }
}

